{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
{% if msg %}
<div class="alert alert-danger" role="alert">
{{msg}}
  </div>
{%endif%}
<br>
<br>

<div class="container">
    <img src="/static/videos/white.png" alt="Logo">
</div>

<form action="/login" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    <button id="correction" type="submit" class="btn btn-outline-primary">Log In</button>

</form>

{% endblock %}
